<div class="collapse navbar-collapse" id="main-nav">
  <ul class="navbar-nav ml-auto align-items-lg-center">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'about' %}">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'services' %}">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-cta" href="{% url 'contact' %}">Contact / Quote</a>
    </li>
  </ul>
</div>
